*{
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logoAlura{
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.textoEntrada{
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder{
    color: #0A3871;
}

.textoEntrada:focus{
    outline: none;
}

.textoSaida{
    background: white;
    background-image: url(./imagens/boneco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.textoSaida:focus{
    outline: none;
}

.botoes{
    display: flex;
    margin-top: 18px;
}